.btn-vermas {
    border-radius: 27px;
    background: #7f8b95;
    width: 145px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;

    &:hover {
        background: #30383f;
        border: 1px solid #7f8b95;
        color: #ffffff;
    }
}

.btn-subs {
    border-radius: 20px;
    background: #7f8b95;
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;

    &:hover {
        background: #30383f;
        border: 1px solid #7f8b95;
        color: #ffffff;
    }

    &.registra {
        width: auto;
        padding-inline: 20px;
    }
}

.btn-buscar {
    border-radius: 27px;
    background: #7f8b95;
    height: 50px;
    padding-inline: 60px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;

    &:hover {
        background: #30383f;
        border: 1px solid #7f8b95;
        color: #ffffff;
    }
}

.search-btn {
    background: rgb(213, 56, 83);
    background: linear-gradient(90deg, #d53853 0%, #c82d65 100%);
    color: #ffffff;
    border: 2px solid #d33760;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50px;
    transition: all 0.1s;

    &:hover {
        color: #69bcff;
        background: rgb(213, 56, 83);
        background: linear-gradient(180deg, #d53853 0%, #c82d65 100%);
    }
}

.btn-offcan {
    background: #d53853;
}